header {
  width: 100%;
  padding: 30px 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  line-height: 30px;
  color: white;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.menu-item {
  list-style: none;
}

.menu-item > a {
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}
